// Colors
$primary-color: #47b2e4;
$dark-color: #37517e;
$light-color: #F1F8FF;
$danger-color: #ee3b3b;
$success-color: #50c238;
$color-grey-dark: #333;
$color-light-gray: #464D4D;
$color-light-black:#252424;
$color-black: #000;
$color-white: #fff;
$max-width: 1100px;

// Grid Floats
$grid-width: 136.6rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;