.sidebar {
  position: fixed;
  box-shadow: .6rem 0 .6rem rgba(0,0,0,.1);
  top: 6rem;
  min-width: 10%;
  //left: 0;
  bottom: 0;

  background-color: $light-color;
  flex: 0 0 15%;
  //position: sticky;
  //position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

}

.side-nav {
  margin-top: 3rem;
   &__item {
     position: relative;

     /* &:not(:last-child){
       margin-bottom: .5rem;
     } */
   }
   
   &__item::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 3px;
     background-color: $primary-color;
     transform: scaleY(0);
     transition: transform .2s
                  width .4s cubic-bezier(1,0,0,1) .2,
                  background-color .1s;             
   }

   &__item:hover::before,
   &__item--active::before{
     transform: scaleY(1);
     width: 5%;
   } 
  
   
   &__link:link,
   &__link:visited {
    color: $dark-color;
    display: block;
    padding: 1.5rem 3rem;
    align-items: center;
    position: relative;
    z-index: 10;
   }

    &__link:hover {
     color: $primary-color;
   }
    
   &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    fill: currentColor;
   }
  

}

#hamburgerBtn {
  display:none;    
}

#hamburgerBtn:hover {
  cursor: pointer;
  color: $primary-color;
}


@media only screen and (max-width: $bp-small) {
  
  #sideMenu {
    width: 40vw;
    margin-top: 1rem;
    transform: translateX(-100rem);
    transition: transform 500ms;
  }
  #sideMenu.open {
   transform: translateX(0);
  }

  #hamburgerBtn {
    display: inline-block;
    color: white;
    font-size: 2.5rem;
  }
 
}


@media only screen and (max-width: $bp-smallest){
   #sideMenu {
     margin-top: 7rem;
   }  
} 
.copyright {
  font-size:1.2rem;
  color: $dark-color;
  text-align: center;
  padding: 3rem;
 }

